/* Empty. Add your own CSS if you like */
.button{
background-color: #b18eae;
}

.msg{
color: blueviolet
}

.display{
color: green;
}

.error{
color: red;
}

.barc{

background-color: #c6e59d;

}

.list.list-inset{
    background-color: #aede6d;
}

.bar.bar-stable .title {
    background-color: #8dadab;
    text-decoration-color: navy;
}
